*{
  margin:0;
  padding:0;
}
body{
  margin:0;
  font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 20px;
  color:#876698;
  line-height:1.6;

}

#showcase{
  background-image::url('../img/showcase.jpg');
  background-size::cover;
  background-position: center;
  height: 100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  text-align: center;
  padding:0 20px;

}

#showcase h1{
  font-size:500px;
  line-height: 1.2;
  position: relative;
  right:200px;
  bottom: 10px;
  font-weight: bold;

}

#showcase p{
  font-size: 20px;
}

#showcase .button{
  font-size: 18px;
  text-decoration: none;
  color: #686687;
  border:#768767 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
}

#showcase .button:hover{
  background: #978897;
  color: #fff

}

#section-a{
  padding:20px;
  background: :#776776;
  color:#fff;
  text-align: :center;
}

#section-c{
  padding:20px;
  background: blue;
  text-align: :center;
}

section-c{
  display: flex;
}
section-c div{
  padding: :20px;
}
#section-c .box1, #section-c .box3{
  background: :#987678;
  color:#fff;
}

#section-c .box2{
  background: #f9f9f9;}

  .foo{
      background: linear-gradient(#91a4cc, #f1cccd);
      position:relative;
      top: 120px;
      right: 50px;
      width: 690px;
      height: 600px;
height: 100vh;
color: white;
    }
.goo{

  position:relative;
  top: 0px;
  right: -50px;
  width: 690px;
  height: 600px;

color: black;



}
.desc{
  font: 20px;
  font-weight: bold;
  position:relative;
  top: -100px;
  right: 400px;
  width: 690px;
  bottom: 500px;
  line-height: 0;
}

.desc2{
  font-family: Helvetica;
  font-weight: bolder;
  font: 20px;
  position:relative;
  top: -100px;
  right: 328px;
  width: 690px;
  bottom: 500px;
}
