<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Remotely</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><img src="images/logo.png" height="20rem"></a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/newuser">Profile</a></li>
          <li><a href="/business">Opportunities</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron text-center">
      <h1 id="header" class="animated pulse delay-1s">Sign in to your account</h1>
    </div>
    <div class="container">
      <form class="form-horizontal animated pulse delay-1s" action="/login" method="post">
        <div class="form-group">
          <h3>
            <label class="control-label col-sm-4" required for="email"> What's your email address? </label>
            <div class="col-xs-8">
              <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email address" minlength="5" maxlength="100"> <br>
            </div>
          </h3>
        </div>
        <div class="form-group">
          <h3>
            <label class="control-label col-sm-4" required for="passwd"> What's your password? </label>
            <div class="col-xs-8">
              <input type="password" name="password" id="passwd" class="form-control" placeholder="Enter your password"> <br>
            </div>
          </h3>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>

  </body>
</html>
