<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Remotely</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="css/hover-min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><img src="images/logo.png" height="20rem"></a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/newuser">Profile</a></li>
          <li><a href="/business">Opportunities</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
        <% if (user) { %>
        <form class="navbar-form  navbar-right" action="/logout" method="post">
          <button type="submit" class="btn btn-link" style="font-size: 14px;margin-top:0px;">Sign out</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/profile"><%= user.name %></a></li>
        </ul>
        <% } %>
      </div>
    </nav>

    <div class="row animated fadeIn delay-1s" id="panel_feedback">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title" style="font-size: 30px;">Portfolio</h3>
        </div>

          <div class="panel-body">
            <div class="row">
              <div id="feedback_img">
                  <img  style="display: inline; margin: 0 5px; position: right;" src="images/SampleWork1.jpg" height="200px">
          </div>
          <div class="row">
            <h4 id="header">Fiftea Philippines</h3>
          </div>
          <div class="row">
            <p>"He created a milktea menu app within a short time frame. It's beautiful and interactive. Recommended to have in a team." </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row animated fadeIn delay-1s" id="panel_feedback">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title" style="font-size: 30px;">Work History and Feedback</h3>
        </div>

          <div class="panel-body">
            <div class="row">
              <div id="feedback_img">
                  <img  style="display: inline; margin: 0 5px; position: right;" src="images/SampleWork1.jpg" height="200px">
                  <img style="display: inline; margin: 0 5px; position: right;" src="images/SampleWork2.png" height="200px">
                  <img style="display: inline; margin: 0 5px; position: right;" src="images/SampleWork3.jpg" height="200px">
            </div>
          </div>
          <div class="row">
            <h4 id="header">Fiftea Philippines</h3>
          </div>
          <div class="row">
            <p>"He created a milktea menu app within a short time frame. It's beautiful and interactive. Recommended to have in a team." </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row animated fadeIn delay-1s" id="panel_feedback">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title" style="font-size: 30px;">Skills</h3>
        </div>

          <div class="panel-body">
            <div class="row">
              <div id="feedback_img">
                  <img  style="display: inline; margin: 0 5px; position: right;" src="images/SampleWork1.jpg" height="200px">
                  <img style="display: inline; margin: 0 5px; position: right;" src="images/SampleWork2.png" height="200px">
                  <img style="display: inline; margin: 0 5px; position: right;" src="images/SampleWork3.jpg" height="200px">
            </div>
          </div>
          <div class="row">
            <h4 id="header">Fiftea Philippines</h3>
          </div>
          <div class="row">
            <p>"He created a milktea menu app within a short time frame. It's beautiful and interactive. Recommended to have in a team." </p>
          </div>
        </div>
      </div>
    </div>
</html>
